<div>
    {% if fi == 1 %}
    <div>
        <div class="de">
            <h2>move operation</h2>
            <img src="{{label_tools.barcode(move_id, module_width=1.5, font_size=30,write_text=false, barcode_class='code128')}}" alt="" class="barcode">
            <br>
            {{ move_id }}
            <br>
            comment:
            {{ comment }}
            <br>
            to
            <br>
            <img src="{{label_tools.barcode(endpos, module_width=1.5, font_size=30,write_text=false, barcode_class='code128')}}" alt="" class="barcode">
            <br>
            {{ endpos }}
        </div>
    </div>
    {% endif %}
    {% if fi == 0 %}
        <div class="xx">
            <div>
                {{ record_id }}
                <img src="{{label_tools.barcode(record_id, module_width=1.5, font_size=30,write_text=false, barcode_class='code128')}}" alt="" class="barcode">
            </div>
            from
            <div>
                {{ pos_id }}
                <img src="{{label_tools.barcode(pos_id, module_width=1.5, font_size=30,write_text=false, barcode_class='code128')}}" alt="" class="barcode">
            </div>
        </div>
    {% endif %}
</div>