@page {
    width: 210mm;
    height: 297mm;
}

.print-area {
    border: 0.1mm solid black;  /* Comment to disable the box around the label */
    /* height: 29.7mm;             Single label height on the A4 paper */
    /* width: 52.3mm;              signle lable width on the A4 paper */
    float:left;
}
.item {
  margin-top:4mm;
  margin-left:4mm;
  margin-right:4mm;
  margin-bottom:4mm;
  text-align: center;
}
.barcode {
    height: 8mm;
    width:40mm;
    margin-left: 1mm;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
}
.de {
    width:210mm;
}