{% extends 'layout.html' %} {% block title %} stock issue creation {% endblock
title %} {% block main %}
<form action="/issue" method="post" class="mb-3 mx-auto w-50 text-start">
  <h2>stock issue info</h2>
  <div>
    <label for="supp" class="form-label">client</label>
    <input
      class="form-control"
      list="supp_l"
      id="supp"
      name="supp"
      placeholder="Type to search..."
      required
    />
    <datalist id="supp_l">
      {% for sup in suppliers %}
      <option value="{{ sup['id'] }}">{{ sup['name'] }}</option>
      {% endfor %}
    </datalist>
  </div>
  <div>
    <label for="uu" class="form-label"
      >select user to execute or select any to let user assign themselves</label
    >
    <input
      class="form-control"
      list="uu_l"
      id="uu"
      name="uu"
      placeholder="Type to search..."
      required
    />
    <datalist id="uu_l">
      <option value="any"></option>
      {% for user in users %}
      <option value="{{ user['id'] }}">
        {{ user['name'] }}-{{ user['first_name'] }}-{{ user['last_name'] }}
      </option>
      {% endfor %}
    </datalist>
  </div>
  <div>
    <label for="deppos" class="form-label">departure position</label>
    <input
      class="form-control"
      list="deppos_l"
      id="deppos"
      name="deppos"
      placeholder="Type to search..."
      required
    />
    <datalist id="deppos_l">
      {% for pos in positions %}
      <option value="{{ pos['id'] }}">
        {{ pos['warehouse_pos'] }}-{{ pos['zone'] }}-{{ pos['row'] }}-{{
        pos['column'] }}-{{ pos['cell'] }}
      </option>
      {% endfor %}
    </datalist>
  </div>
  <div>
    <label for="deptime">departure time</label>
    <input
      class="mb-3 form-control"
      type="datetime-local"
      name="deptime"
      id="deptime"
      max="9999-12-31T23:59"
      required
    />
  </div>
  <div class="mb-3">
    <label for="com" class="form-label">comment on issue</label>
    <textarea
      class="form-control"
      name="com"
      id="com"
      rows="3"
      maxlength="1000"
    ></textarea>
  </div>
  <datalist id="gt_l">
    {% for good in goods %}
    <option value="{{ good['id'] }}">
      {{ good['name'] }}-{{ good['ean'] }}-{{ good['amount'] }}
    </option>
    {% endfor %}
  </datalist>
  <div id="gts">
    <hr />
    <div>
      <h3>
        If product type is not displayed to be selected it means that it's not
        in stock
      </h3>
    </div>
    <hr />
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<script>
  do {
    var gt = Number(prompt("number of product types(at least one)"));
    // console.log(zones);
  } while (gt < 1 || isNaN(gt));
  for (let i = 0; i < gt; i++) {
    var div = document.createElement("div");
    div.innerHTML =
      "<h2>Good type nr." +
      i +
      '</h2><div><hr><div><label for="gtt' +
      i +
      '" class="form-label">type of goods</label><input class="form-control" list="gt_l" id="gtt' +
      i +
      '" name="gtt' +
      i +
      '" placeholder="Type to search..." required></div><div class="mb-3"><label for="gtn' +
      i +
      '" class="form-label">amount of goods of this types</label><input type="number" class="form-control" name="gtn' +
      i +
      '" id="gtn' +
      i +
      '" aria-describedby="helpId" placeholder="number of goods" min="1" required></div><div class="mb-3">';
    document.getElementById("gts").appendChild(div);
  }
  var help = document.createElement("div");
  help.innerHTML =
    '<input type="number" name="num" id="num" hidden value="' + gt + '">';
  document.getElementById("gts").appendChild(help);
</script>
{% endblock main %}
