{% extends 'layout.html' %} {% block title %} record result {% endblock title %}
{% block main %}
<div class="w-100">
  <table class="table">
    <tr>
      <th>id</th>
      <td>{{ rec.id }}</td>
    </tr>
    <tr>
      <th>comment</th>
      <td>{{ rec.comment }}</td>
    </tr>
    <tr>
      <th>type</th>
      <td><a href="/lkres?t=typ&id={{ rec.type }}">{{ rec.type }}</a></td>
    </tr>
    <tr>
      <th>receipt</th>
      <td>
        <a href="/lkres?t=typ&id={{ rec.receipt_rec }}"
          >{{ rec.receipt_rec }}</a
        >
      </td>
    </tr>
    <tr>
      <th>issue</th>
      <td>
        <a href="/lkres?t=typ&id={{ rec.issue_rec }}">{{ rec.issue_rec }}</a>
      </td>
    </tr>
    <tr>
      <th>current position</th>
      <td>
        <a href="/lkres?t=typ&id={{ rec.current_position }}"
          >{{ rec.current_position }}</a
        >
      </td>
    </tr>
    <tr>
      <th>last update</th>
      <td>{{ rec.last_update }}</td>
    </tr>
  </table>
</div>
{% endblock main %}
