{% extends 'layout.html' %} {% block title %} receipt lookup {% endblock title
%} {% block main %}
<table class="table">
  <tr>
    <th>id</th>
    <td>{{ rei.id }}</td>
  </tr>
  <tr>
    <th>customer</th>
    <td><a href="/lkres?t=cus&id={{ rei.supplier }}">{{ rei.supplier }}</a></td>
  </tr>
  <tr>
    <th>user executing</th>
    <td>{{ rei.user_executing }}</td>
  </tr>
  <tr>
    <th>user approving</th>
    <td>{{ rei.user_approving }}</td>
  </tr>
  <tr>
    <th>position</th>
    <td>
      <a href="/lkres?t=pos&id={{ rei.position_re }}">{{ rei.position_re }}</a>
    </td>
  </tr>
  <tr>
    <th>time info</th>
    <td>{{ rei.time_info }}</td>
  </tr>
  <tr>
    <th>comment</th>
    <td>{{ rei.comment }}</td>
  </tr>
  <tr>
    <th>arrival</th>
    <td>{{ rei.arrival }}</td>
  </tr>
  <tr>
    <th>completed</th>
    <td>{{ rei.completed }}</td>
  </tr>
  <tr>
    <th>connected records</th>
    <td>
      {% for r in recs %}
      <a href="/lkres?t=rec&id={{ r.id }}">{{ r.id }}</a>, {% endfor %}
    </td>
  </tr>
</table>
{% endblock main %}
